/.env/
/.idea/
/.gradle/
/build/*
/converter/build/
/iac/.kubeconfig
/iac/.terraform*
/iac/certIssuer.yaml
/iac/configMaps.yaml
/iac/deployments.yaml
/iac/ingress.yaml
/iac/namespaces.yaml
/iac/secrets.yaml
/iac/services.yaml
/iac/terraform.tfvars*
/iac/terraform.tfstate*
/test.sh
