/iac/terraform.tfvars*
/iac/terraform.tfstate*
/iac/services.yaml
/iac/secrets.yaml
/iac/namespaces.yaml
/iac/ingress.yaml
/iac/deployments.yaml
/iac/configmaps.yaml
/iac/certissuer.yaml
/iac/.terraform*
/.idea/
/.gradle/
/converter/build/
